<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//-mybatis.org// DTD Mapper 3.0//En" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	
	<!-- 아이디로 회원정보 가져오기 -->
	<select id="getMember" parameterType="String" resultType="memDto">
		select *
		from member
		where id=#{id}
	</select>

	<!-- 회원 탈퇴. 아이디에 해당하는 회원정보 삭제 -->
	<delete id="deleteMember" parameterType="String">
		delete from member
		where id=#{id}
	</delete>

	<!-- 회원정보 수정. 아이디에 해당하는 회원의 정보 수정 -->
	<update id="updateMember" parameterType="memDto" >
		 UPDATE member
		 SET pw=#{pw}, 
		 	name=#{name}, 
		 	email=#{email}, 
		 	birth=#{birth}
        WHERE id=#{id}
	</update>
	
	<!-- 아이디 중복 확인 -->
	<select id="checkIdDuplicate" parameterType="String" resultType="int">
    	SELECT COUNT(*) FROM member WHERE id = #{id}
	</select>
	
	<!-- 회원가입. db에 회원정보 넣기 -->
	<insert id="joinMember" parameterType="memDto">
		insert into member(id, pw, name, birth, email, gender)
		values(#{id}, #{pw}, #{name}, #{birth}, #{email}, #{gender})
	</insert>
	
	<!-- 로그인. 아이디와 비밀번호에 맞는 회원정보 반환 -->
	<select id="login" parameterType="map" resultType="memDto">
		select *
		from member
		where id=#{id} and pw=#{pw}
	</select>
	
	
</mapper>